<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">

<!--    <security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled" jsr250-annotations="enabled" proxy-target-class="true" />-->

    <security:http>
        <!-- pattern: 要拦截的资源-->
        <security:intercept-url pattern="/admin/**" access="hasAuthority('BACKEND')" />
        <security:form-login  />
        <security:http-basic/>
        <security:session-management invalid-session-url="/login" />
        <security:logout delete-cookies="JSESSIONID"/>
        <security:csrf disabled="true"/>
    </security:http>

<!--    <security:csrf disabled="true"/>-->

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="UserDetailServiceImpl">
            <security:password-encoder ref="bcryptEncoder"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="bcryptEncoder"
               class="com.example.demo.security.MyPasswordEncoder" />

    <bean id="UserDetailServiceImpl"
          class="com.example.demo.security.UserDetailServiceImpl" />


</beans>